* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  margin: 0;
  top: 0;
  left: 0;
}

html {
  background-image: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}

#wrapper {
  margin: 0 auto;
  max-width: 1440px;
}
